# Byte-compiled / optimized / compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env
.env.local
*.swp
poetry.lock

# Django-specific
db.sqlite3
*.sqlite3
*.db
media/
staticfiles/
static/

# Ignore IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore migrations cache (but keep migrations)
**/migrations/*.pyc
**/migrations/__pycache__/

# Ignore compiled C files
*.so

# Ignore MacOS / Linux system files
.DS_Store
Thumbs.db

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
*.cover
nosetests.xml
coverage.xml
*.pytest_cache
